# Garbage & not required config files
.DS_Store
.vscode
node-modules/


# Added by cargo

/target


# Added by cargo
#
# already existing elements were commented out

#/target

# Session and credential files
.session
erpcreds.json
